In [2]:
#импорт библиотек
import numpy as np #для матричных вычислений
import pandas as pd #для анализа и предобработки данных
import matplotlib.pyplot as plt #для визуализации
import seaborn as sns #для визуализации

from sklearn import linear_model #линейные модели
from sklearn import tree #деревья решений
from sklearn import ensemble #ансамбли
from sklearn import metrics #метрики
from sklearn import preprocessing #предобработка
from sklearn.model_selection import train_test_split #сплитование выборки

> Некоторый банк обратился к вам за помощью: он хочет разработать кампанию лояльности по удержанию клиентов. Для этого он хочет прогнозировать вероятности оттока клиентов и определять, уйдёт ли клиент в ближайшее время.

In [3]:
churn_data = pd.read_csv('data/churn.csv')
churn_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
# Проверка данныз на анличие пропусков
churn_data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
# Удаление номера строки, есть ID клиента
churn_data = churn_data.drop(['RowNumber'], axis=1)

In [7]:
# Проверка на наличие дубликатов
churn_data[churn_data.duplicated()].sum()

CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender               0
Age                  0
Tenure               0
Balance            0.0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary    0.0
Exited               0
dtype: object

Целевой признак - Exited

RowNumber — номер строки таблицы;\
CustomerId — идентификатор клиента;\
Surname — фамилия клиента;\
CreditScore — кредитный рейтинг клиента (чем он выше, тем больше клиент брал кредитов и возвращал их);\
Geography — страна проживания клиента (банк межнациональный);\
Gender — пол клиента;\
Age — возраст клиента;\
Tenure — сколько лет клиент пользуется банком;\
Balance — сколько у клиента денег на счетах в банке;\
NumOfProduct — число услуг банка, которыми воспользовался клиент;\
HasCrCard — есть ли у клиента кредитная карта (1 — да, 0 — нет);\
IsActiveMember — есть ли у клиента статус «активный клиент» (1 — да, 0 — нет);\
EstimatedSalary — предполагаемая заработная плата клиента;\
Exited — статус ушедшего (1 — ушедший клиент, 0 — лояльный клиент).